*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid black;
}
button{
    padding: 20px 30px;
    margin-top: 80px;

}

